{
    "discordauthtoken" : "xxxxx",
    "adsbrapidapikey": "xxxxx",
    "discrodwebhookid" : "xxxxx",
    "discrodwebhooktoken": "xxxxx",
    "adsbrapidapihost": "adsbexchange-com1.p.rapidapi.com"
    "acdburl": "https://downloads.adsbexchange.com/downloads/basic-ac-db.json.gz",
    "acdbfilename": "basic-ac-db.json.gz"
    "updateIntervall": 5
    "callsignllistfilename": "callsignlist"
}
